body {
    background-color:slategrey;
    color: #FF4500;
    font-size: 20px;
    font-family: cursive;
}
.history {
    border-radius: 20px;
    background-color:#50CB93;
    width: 70%;
    margin: auto;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}
.color1 {
    color: #FF0000 ;
    font-size:38px;
}

.color2 {
    color: #FF1493;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 16px;
}

.color3 {
    color: #FF4500;
    font-family:initial ;
    font-size: 17px;
}

.color4 {
    color: #00FFFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 19px;
}

.color5 {
    color: #FFFF00;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 20px;
}

.color6 {
    color: #00FF00;
    font-family:serif ;
    font-size: 22px;
}

.color7 {
    color: skyblue;
    font-family:sans-serif ;
    font-size: 23px;
    margin-left: 0px;
}
 
.color8 {
    color: teal;
    font-family:monospace ;
    font-size: 25px;
}
 
.color9 {
    color: white;
    font-family:cursive ;
    font-size: 27px;
}

.color10 {
    color: springgreen;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 26px;
}

.color10 {
    color: sienna;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 24px;
}

.color11 {
    color: salmon;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 20px;
}

.color12 {
    color: slategrey;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 28px;
}

.color13 {
    color: red;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 30px;
}

.color14 {
    color: rgb(rgb(255, 0, 0), green, rgb(41, 41, 179));
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 29px;
}

.color15 {
    color: rgb(red, rgb(11, 218, 11), blue);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 16pxs;
}
.history a {
    color: #FF4500;
    font-size: 20px;
}
p {
    color: darkorange;
}
a {
    color: #929aab;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;
    border-bottom: 1px solid transparent;
    transition: 0.2s ease-in;
}
a:hover {
    border-bottom-color: #929;
}
h1 {
    color: rgb(156, 31, 209);
    font-size: 60px;
}
.about-html {
    width: 70%;
    margin: auto;
    background-image: url(https://storge.pic2.me/c/1360x800/778/590cd109d2d67.jpg);
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 0, 0.4);
}
.round {
    border-radius: 100px;
    box-shadow: 0 0 0 3px green, 0 0 13px rgb(51, 51, 51);
}
img {
    max-width: 100%;
    height: auto;
}
.history-text {
    background-image: url(https://funart.pro/uploads/posts/2021-03/1617054432_6-p-oboi-priroda-4k-6.jpg );
}
.color-blask {
    background-color: #52057B;
    border-radius: 20px;
}

